@import 'general';

.features-section {
    background-image: url(file:///Users/ingakut/Desktop/Front-end/Source/photo-1480714378408-67cf0d13bc1b.png);
    width: 100%;
    padding-top: 75px;
    padding-bottom: 140px;
    display: flex;
}