@import "general";

footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: $text-black;
    padding-left: 100px;
    padding-right: 100px;
    p {
        font-size: 18px;
        font-weight: 200;
        text-align: right;
        color: white;
        opacity: 0.5;
    }
    .icons-area {
        max-width: 550px;
        width: 100%;
        a {
            margin-right: 90px;
            margin-left: 0;
            &:last-of-type {
                margin-right: 0px;
            }
            span svg {
                height: 20px;
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1100px) {
    footer {
        flex-direction: column-reverse;
        padding-top: 45px;
        padding-bottom: 25px;
        p {
            font-size: 14px;
        }
    }
}

@media (max-width: 600px) {
    footer {
        .icons-area {
            a {
                margin-right: 45px;
                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
    }
}