$font-stack: 'Montserrat', sans-serif;
$primary-black: #1C1C1C;
$primary-red: #E27866;
$primary-green: #41D395;
$primary-blue: #6696E2;
$text-black: #333333;

body {
    margin: 0;
    font-family: $font-stack;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}