@import "general";

.reviews-section {
    background-color: white;
    color: $text-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    .divider {
        width: 65px;
        height: 2px;
        background-color: $primary-blue;
    }
}

@media (max-width: 1100px) {
    .reviews-section {
        padding-top: 75px;
        padding-bottom: 75px;
        h1 {
            font-size: 28px;
        }
    }
}

.swiper-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 100px;
    .swiper-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        max-width: 1100px;
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 280px;
        padding-bottom: 60px;
        .text-box {
            position: relative;
            background-color: $primary-blue;
            border-radius: 5px;
            width: 244px;
            padding: 18px;
            p {
                margin: 0;
                color: white;
                font-size: 16px;
                font-weight: 200;
                line-height: 22px;
            }
            &:before {
                content: '';
                position: absolute;
                margin-left: 18px;
                bottom: 0;
                width: 20px;
                height: 20px;
                background-color: $primary-blue;
                transform: translateY(50%) translateX(-50%) rotate(45deg);
            }
        }
        .profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: 25px;
            .head-bubble {
                flex-shrink: 0;
                position: relative;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-size: cover;
                box-shadow: 0px 1px 3px $text-black;
                margin-right: 13px;
            }
            .left {
                background-image: url('images/profile-icon.png');
            }
            .middle {
                background-image: url('images/profile-icon-2.png');
            }
            .right {
                background-image: url('images/profile-icon-3.png');
            }
            .name-surname {
                text-align: left;
                h3 {
                    font-size: 20px;
                    font-weight: 200;
                    color: $text-black;
                    margin: 0;
                }
                p {
                    font-size: 14px;
                    font-weight: 200;
                    margin: 0;
                }
            }
        }
    }
    .swiper-pagination-bullet {
        background: #A37169;
    }
    .swiper-pagination-bullet-active {
        background: $primary-red;
    }
}

@media (max-width: 1100px) {
    .swiper-container {
        .swiper-wrapper {
            max-width: 400px;
            width: 100%;
        }
    }
}

