@import "general";

.soc-media-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0px 1px 3px #00000061;
    z-index: 1;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 395px;
    max-width: 395px;
    h1 {
        font-size: 20px;
        font-weight: 400;
        color: $text-black;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    p {
        font-size: 14px;
        font-weight: 200;
        color: #86878B;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.icons-area {
    display: flex;
    flex-direction: row;

    a {
        margin-left: 95px;
        padding: 10px;

        &:hover {
            span svg {
                opacity: 1;
            }
        }
    
        span {
            display: inline-block;
            svg {
                opacity: 0.63;
                transition: 0.3s ease-in-out;
            }
            svg path {
                fill: #E27866;
            }
        }
    }
}