@import "general";

.soc-media-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    // width: 1100px;
    // max-width: 1100px;
    background: white;
    box-shadow: 0px 1px 3px #00000061;
    z-index: 1;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 395px;
    max-width: 395px;
    h1 {
        font-size: 20px;
        font-weight: 400;
        color: $text-black;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    p {
        font-size: 14px;
        font-weight: 200;
        color: #86878B;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.icons-area {
    display: flex;
    flex-direction: row;
    max-height: 30px;
    height: 30px;
    span {
        margin-left: 105px;
        svg path {
            fill: #E27866;
            opacity: 0.63;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
    // label {
    //     cursor: pointer;
    //     width: 100%;
    //     height: 30px;
    //     display: flex;
    //     align-items: center;
    // }
}