@import 'general';

.tabs-section {
    background-image: url('images/dunes.png');
    background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    .tabs-section-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;
        opacity: 0.42;
    }
}

@media (max-width: 1100px) {
    .tabs-section {
        padding-top: 75px;
        padding-bottom: 75px;
        flex-direction: column;
    }

}

.square-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
    input {
        display: none;
        &:checked + label {
            .btn {
                background-color: $primary-red;
            } 
            p {
                opacity: 1;
            } 
        }
    }
    .btn {
        background-color: #A37169;
        width: 100px;
        height: 100px;
        margin: 20px 40px 20px 0;
        transition: 0.3s ease-in-out;
        p {
            text-align: center;
            line-height: 75px;
            color: white;
            font-size: 14px;
            font-weight: 600;
            transform: rotate(-45deg);
            opacity: 0.5;
            transition: 0.3s ease-in-out;
        }
    }
    label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

@media (max-width: 1100px) {
    .square-btns {
        flex-direction: row;
        justify-content: center;
        .btn:last-of-type {
            margin: 20px;
        }
    }
}

.description-register, .description-apply, .description-receive {
    &:not(.on) {
        display: none;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 515px;
    margin-left: 30px;
    margin-right: 70px;
    color: white;
    z-index: 10;
    h1 {
        font-size: 36px;
        font-weight: 600;
        text-align: left;
    }
    p {
        font-size: 14px;
        font-weight: 200;
    }
}

@media (max-width: 1100px) {
    .description-register, .description-apply, .description-receive {
        align-items: center;
        margin: 0px;
        max-width: 650px;
        width: 100%;
        h1 {
            font-size: 28px;
            text-align: center;
            padding: 30px 45px 30px 45px;
            margin: 0;
        }
        p {
            text-align: center;
            padding: 15px 45px 45px 45px;
            margin: 0;
        }
    }
}

.gallery-register, .gallery-apply, .gallery-receive {
    display: flex;
    &:not(.on) {
        display: none;
    }
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 363px;
    cursor: pointer;
    .small-two {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .two-one, .two-two {
            display: block;
            position: relative;
            width: 168px;
            height: 168px;
            transition: 0.3s ease-in-out;
            img {
                display: block;
                opacity: 1;
                position: absolute;
            }
        }
        .two-one {
            margin-right: 25px;
        }
    }
    .big-one {
        position: relative;
        width: 363px;
        height: 178px;
        transition: 0.3s ease-in-out;
        img {
            display: block;
            opacity: 1;
            position: absolute;
        }
    }
    .gallery-overlay {
        display: block;
        position: absolute;
        background-color: $primary-red;
        width: 100%;
        height: 100%;
        z-index: 10;
        opacity: 0;
        transition: 0.3s ease-in-out;
        &:hover {
            opacity: 0.5;
            p:hover {
                opacity: 1;
            }
        }
        p {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            color: white;
            text-align: center;
            vertical-align: middle;
            line-height: 168px;
            font-size: 20px;
            font-weight: 600;
            opacity: 0;
            z-index: 20;
            transition: 0.3s ease-in-out;
            // &:hover {
            //     opacity: 1;
            // }
        }
    }
}
